<a href="https://colab.research.google.com/github/GonzaloMartin/ITBA-Certificacion-Profesional-Python/blob/main/Clase_4_Resuelto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/Headers%20c%C3%A1talogo_Mesa%20de%20trabajo%201%20copia%2044.jpg" width="800">



# Certificación profesional de Python

#### _Resueltos de [@GonzaloMartin](https://github.com/GonzaloMartin)._

# Clase 4

El objetivo de la clase es seguir sumando experiencia de trabajo con programación aprendiendo los siguientes temas.

*   Listas
*   Tuplas
*   Diccionarios

La clase incluye teoría y práctica sobre cada tema aprendido.

<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/LOGOTIPO_sin_fondo_positivo_sin_bajada.png" width="400">

# Listas y tuplas

## Listas

Las listas son un conjunto ordenado de variables que nos permite almacenar e interactuar tanto individualmente como en el conjunto.

Para crear una lista se sigue el siguiente formato:
```
lista = [variable1, variable2, ... ]
```
Veamos un ejemplo:

In [1]:
# Creo una lista con 8 variables
lista = [0, 1, 2, "tres", 'cuatro', True, False, 0.5]

### List Comprehension

También podemos crear una lista utilizando un mecanismo que se llama "list comprehension". Este utiliza la estructura for para crear una lista:
```python
lista = [variable for variable in iterable]
```
Veamos un ejemplo:

In [2]:
# Creamos una lista con los valores 0, 1, 2, 3
lista = [x for x in range(0,4)]

print(lista)

# Creamos una lista con los valores 0, 2, 4, 6
lista2 = [2*x for x in range(0,4)]

print(lista2)

[0, 1, 2, 3]
[0, 2, 4, 6]

### Acceso a las varibles

Podemos acceder a las variables utilizando la siguiente estructura:
```
lista[posicion]
```

**NOTA IMPORTANTE:** Las posiciones comienzan desde 0.


Veamos un ejemplo:

In [3]:
# Creamos una lista con los valores 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
lista = [ x for x in range(0, 10)]

print(lista[1])
print(lista[2])

1
2

Podemos interactuar con estas variables como cualquier otra:

In [4]:
# Creamos una lista con los valores 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
lista = [ x for x in range(0, 10)]

print(lista)
print(lista[2])

# Le asignamos el valor a la posición
lista[2] = "Hola"

print(lista)
print(lista[2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2
[0, 1, 'Hola', 3, 4, 5, 6, 7, 8, 9]
Hola

**Pregunta:**

¿Que imprimirá el siguiente código?

In [5]:
lista = [2*x for x in range(0,3)]

for x in range(0,3):
    print(lista[x])

0
2
4

### Operaciones con listas

Al igual que con las strings, podemos realizar operaciones sobre las listas.

Por ejemplo sumar dos listas:

In [6]:
a = [1, 2]
b = [3, 4]
c = a + b
print(c)

[1, 2, 3, 4]

También podemos verificar si un elemento se encuentra en la lista:

In [7]:
a = [1,2,3,4,5]

print(5 in a)
print(9 in a)

True
False

### Funciones de listas

Al igual que los strings las listas tienen funciones dentro de ellas que podemos utilizar de la siguiente manera:
```
lista.funcion(parametros)
```
Podemos encontrar una lista de estas funciones [aca](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

Veamos un ejemplo:

In [8]:
# Creamos una lista con los valores 0, 1, 2, 3
lista = [x for x in range(4)]

print(lista)

# Damos vuelta la lista
lista.reverse()

# PREGUNTA: Que va a imprimir la siguiente función?
print(lista)

[0, 1, 2, 3]
[3, 2, 1, 0]

También podemos agregar o quitar valores de las listas:

In [9]:
lista = [0, 1]

print(lista)

# Agregamos el valor 10 al final de la lista
lista.append(10)
# Agregamos el valor 1 al final de la lista
lista.append(1)
print(lista)

# Sacamos la primera ocurrencia del valor 1
lista.remove(1)
print(lista)
# Sacamos la otra
lista.remove(1)
print(lista)

[0, 1]
[0, 1, 10, 1]
[0, 10, 1]
[0, 10]

### Mini Desafio 1


Utilizando list comprehension, multiplicar cada variable por un número ingresado por el usuario de la siguiente lista:
```
lista = [1, 3, 5, 7, 13, 17]
```
Por ejemplo:
```
>>> 0
[0, 0, 0, 0, 0, 0]
```

In [10]:
lista = [1, 3, 5, 7, 13, 17]

# Escribir su código aca:
numero = int(input("Ingrese un número: "))
resultado = [elemento * numero for elemento in lista]
print(resultado)

Ingrese un número: 0
[0, 0, 0, 0, 0, 0]

### Mini Desafio 2

Imprimir de la lista las siguientes cosas:


*   La primera mitad de la lista
*   La lista ordenada de menor a mayor
*   La lista ordenada de mayor a menor
*   La segunda mitad de la lista ordenada de mayor a menor

La lista es la siguiente:
```python
lista = [14, 3, 6, 27]
```
La respuesta esperada es:
```python
[14, 3]
[3, 6, 14, 27]
[27, 14, 6, 3]
[6, 3]
```
**TIP**: Ver en las funciones incluidas en las listas.

In [12]:
lista = [14, 3, 6, 27]

primera_mitad = lista[:len(lista)//2]
ordenada_menor_a_mayor = sorted(lista)
ordenada_mayor_a_menor = sorted(lista, reverse=True)
segunda_mitad_mayor_a_menor = sorted(lista[len(lista)//2:], reverse=True)

print("Primera mitad de la lista:                          ", primera_mitad)
print("Lista ordenada de menor a mayor:                    ", ordenada_menor_a_mayor)
print("Lista ordenada de mayor a menor:                    ", ordenada_mayor_a_menor)
print("Segunda mitad de la lista ordenada de mayor a menor:", segunda_mitad_mayor_a_menor)

Primera mitad de la lista:                           [14, 3]
Lista ordenada de menor a mayor:                     [3, 6, 14, 27]
Lista ordenada de mayor a menor:                     [27, 14, 6, 3]
Segunda mitad de la lista ordenada de mayor a menor: [27, 6]

### Mini Desafío 3


Imprimir una lista en orden inverso sin utilizar la función reverse.

Ejemplo:
```
lista = [1, 2, "tres"]
```
Salida:
```
"tres"
2
1
```

In [13]:
lista = [1, 2, "tres"]
for item in lista[::-1]:
    print(item)

tres
2
1

## Tuplas

Las tuplas son muy similares a las listas pero sus variables no pueden ser modificadas.

Se crean siguiendo la siguiente estructura:
```
tupla = (variable1, variable2, ...)
```

Veamos un ejemplo:

In [14]:
tupla = (1, 2, "hola")

print(tupla)

(1, 2, 'hola')

Al igual que las listas podemos generarlas utilizando la estructura for, pero debemos indicarle con la palabra `tuple`:

In [15]:
# Creamos una tupla con el cuadrado de los números pares de 0 a 10
tupla = tuple(x ** 2 for x in range(0, 10, 2))

print(tupla)

(0, 4, 16, 36, 64)

### Acceso a las variables


Podemos acceder a las variables pero no modificarlas utilizando la misma estructura que las listas.

```
tupla[posicion]
```

Veamos un ejemplo:

In [16]:
tupla = tuple(x ** 2 for x in range(0, 10, 2))

print(tupla[3])

36

Pero si intentamos modificar:

In [17]:
tupla[3] = 25

TypeError: ignored

### Mini Desafío 4


A partir de una tupla que contenga los valores de 0 al 100, generar otra tupla que contenga unicamente los valores pares.

**TIP**: `for x in tupla` itera sobre cada valor de la tupla.

In [18]:
tupla = tuple(range(101))  # tupla de 0 a 100
tupla_pares = tuple(x for x in tupla if x % 2 == 0)
print(tupla_pares)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)

# Diccionarios

Los diccionarios son una estructura que permite guardar valores asociados a una llave o key. Es decir, guarda un par key,valor y nos permite acceder a ellos por esta llave.

La estructura es la siguiente:
```python
{
    llave: valor,
    llave2: valor2,
    ...
}
```
Veamos un ejemplo:

In [19]:
# Generamos un diccionario donde la llave es un pais y el valor su población
diccionario = {
    "Argentina": 45300000,
    "Inglaterra": 55600000,
    "Italia": 59550000,
    "Chile": 19200000
}

### Acceso a las variables

El acceso a las variables es igual que las tuplas y las listas, solo que en vez de la posición se utiliza la llave:
```
diccionario[llave]
```
Veamos un ejemplo:

In [21]:
# Generamos un diccionario donde la llave es un pais y el valor su población
diccionario = {
    "Argentina": 45300000,
    "Inglaterra": 55600000,
    "Italia": 59550000,
    "Chile": 19200000
}

# Obtenemos el valor en la llave argentina
poblacion = diccionario['Argentina']

print("La población de Argentina es", poblacion)

La población de Argentina es 45300000

Al igual que las listas las variables son modificables.

In [22]:
diccionario = {
    1: 2,
    2: 3,
    3: 4,
}
# Vemos que tiene la llave 3
print(diccionario[3])

# Sumamos uno a la llave 3
diccionario[3] += 1

print(diccionario[3])

4
5

También podemos agregar llaves en el código:

In [23]:
diccionario = {
    1: 2,
    2: 3,
    3: 4,
}

print(diccionario)

# Agregamos la llave hola con el siguiente valor
diccionario['hola'] = 'Soy la nueva llave'

print(diccionario)

{1: 2, 2: 3, 3: 4}
{1: 2, 2: 3, 3: 4, 'hola': 'Soy la nueva llave'}

### Funciones


Al igual que las otras estructuras los diccionarios tienen funciones dentro de ellos. Podemos leer sobre ellas en el siguiente [link](https://docs.python.org/3/library/stdtypes.html#dict).

Veamos algunos ejemplos:

In [24]:
# Generamos un diccionario donde la llave es un pais y el valor su población
diccionario = {
    "Argentina": 45300000,
    "Inglaterra": 55600000,
    "Italia": 59550000,
    "Chile": 19200000
}

# Vemos las llaves del diccionario
print(diccionario.keys())

# Vemos los valores del diccionario
print(diccionario.values())

# Vemos los elementos del diccionario
print(diccionario.items())

dict_keys(['Argentina', 'Inglaterra', 'Italia', 'Chile'])
dict_values([45300000, 55600000, 59550000, 19200000])
dict_items([('Argentina', 45300000), ('Inglaterra', 55600000), ('Italia', 59550000), ('Chile', 19200000)])

## Mini desafío 5

Escribir una función que una dos diccionarios. Si la key está repetida, tomar el valor del primer diccionario.

Esta operación no debe modificar los diccionarios dados como parámetro.

Ejemplo:
```python
a = {
   'a': 1,
   'b': 2,
   'c': 3,
   'd': 4,
}
b = {
   'c': 5,
   'd': 6,
   'e': 7,
}

c = unir_diccionarios(a,b)
print(c)
```
Debe dar el resultado:
```python
{'a':1,'b':2,'c':3,'d':4,'e':7}
```

In [25]:
def unir_diccionarios(diccionario1, diccionario2):
    resultado = diccionario1.copy()  # copio
    for key, value in diccionario2.items():
        if key not in resultado:  # Si la clave existe, la agrega con su valor
            resultado[key] = value
    return resultado

a = {
   'a': 1,
   'b': 2,
   'c': 3,
   'd': 4,
}
b = {
   'c': 5,
   'd': 6,
   'e': 7,
}

c = unir_diccionarios(a, b)
print(c)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 7}

### Mini desafío 6

Reescribir el Mini Desafío 2 de la clase 2 utilizando diccionarios.

In [27]:
# Código del Mini Desafío 2 de la clase 2:

radio = float(input("Ingrese el radio del círculo en metros: "))
area_original = 3.1416 * radio**2

# Área del círculo con un radio 1 metro más pequeño
nuevo_radio = radio - 1
area_nueva = 3.1416 * nuevo_radio**2

print(f"El área de un círculo con radio {radio} metros es {area_original:.2f} m².")
print(f"El área de un círculo con radio {nuevo_radio} metros es {area_nueva:.2f} m².")


# No entiendo de qué serviría aplicar el uso de diccionarios en un cálculo así.
# Creo que se confundieron con el enunciado.

# Ejercicios Integradores

## 1. Calculadora 4.0


Reescribir la calculadora pero utilizando el diccionario para almacenar las funciones de cada cuenta.

**TIP:** Se puede almacenar una función en una variable y utilizarla.

Ejemplo:

In [28]:
def suma(a, b):
    return a+b

diccionario = {
    '+': suma
}
print(diccionario['+'](1,2))

3

In [31]:
# Realizar el ejercicio aca

def suma(a, b):
    return a + b

def resta(a, b):
    return a - b

def multiplicacion(a, b):
    return a * b

def division(a, b):
    if b != 0:
        return a / b
    else:
        return "Error: División por cero!"

# Diccionario
operaciones = {
    '+': suma,
    '-': resta,
    '*': multiplicacion,
    '/': division
}

numero1 = int(input("Ingrese un número: "))
operacion = input("Ingrese la operación (+, -, *, /): ")
numero2 = int(input("Ingrese otro número: "))

if operacion in operaciones:
    resultado = operaciones[operacion](numero1, numero2)
    print(f"El resultado de {numero1} {operacion} {numero2} es: {resultado}")
else:
    print("Operación inválida.")

Ingrese un número: 1
Ingrese la operación (+, -, *, /): +
Ingrese otro número: 1
El resultado de 1 + 1 es: 2

## 2. Cantidad de elementos de llaves de un diccionario

Devolver la cantidad total de llaves de un diccionario, incluyendo si tiene otros diccionarios dentro de el.

Ejemplo:
```python
diccionario = {
    'a': {'b':1, 'c':2},
    'b': 3,
    'c': 4,
}
print(contar_keys(diccionario))
```
Debe devolver 5.

**TIP:** Con la función `isinstance`se puede verificar si un valor es un diccionario o un int.

In [32]:
def contar_keys(diccionario):
    count = 0
    for key, value in diccionario.items():
        count += 1
        if isinstance(value, dict):
            count += contar_keys(value)
    return count

diccionario = {
    'a': {'b': 1, 'c': 2},
    'b': 3,
    'c': 4,
}

total_keys = contar_keys(diccionario)
print(f"Cantidad de llaves: {total_keys}")

Cantidad de llaves: 5

## 3. Fibonacci 2.0

Realizar una función que devuelva la secuencia de fibonacci hasta la posición `n`.

Ejemplo:
```
>>> 4
[0, 1, 1, 2, 3]
```
```
>>> 6
[0, 1, 1, 2, 3, 5, 8]
```

In [34]:
def fibonacci_hasta_n_recursivo(n, fib_sequence=[0, 1]):
    if len(fib_sequence) >= n + 1:
        return fib_sequence[:n + 1]

    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fibonacci_hasta_n_recursivo(n, fib_sequence)

n = int(input("Ingrese la posición n: "))
resultado = fibonacci_hasta_n_recursivo(n)
print(resultado)

Ingrese la posición n: 6
[0, 1, 1, 2, 3, 5, 8]

## 4. Input de estructuras

Escribir un programa que te deje ingresar el texto de una lista o tupla (que contenga solo números) y lo convierta al objeto en python.

Ejemplo:
```
>>> [1,2,3,4]
[1,2,3,4]
```
```
>>> (4,5,6)
(4,5,6)
```
**NOTA:** No se vale hacer print del input, hay que convertir al objeto.

**NOTA 2:** Investigar la función split y replace de strings.

In [35]:
def convertir_a_objeto(texto):
    texto = texto.replace("[", "").replace("]", "").replace("(", "").replace(")", "")
    elementos = texto.split(",")

    # Convertir los elementos a enteros
    objeto = [int(elemento) for elemento in elementos]
    return objeto

entrada = input("Ingrese el texto de la lista o tupla: ")
resultado = convertir_a_objeto(entrada)
print(resultado)

Ingrese el texto de la lista o tupla: [1,2,3,4]
[1, 2, 3, 4]